aiofiles==0.6.0
certifi==2020.12.5
click==7.1.2
fastapi==0.63.0
h11==0.12.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
pydantic==1.7.3
python-multipart==0.0.5
six==1.15.0
starlette==0.13.6
uvicorn==0.13.3
