<html>

    <head>

    </head>

    <body>
        <center>

            <h1>EDITE SUA IMAGEM</h1>
            <h2>Digite os coeficientes de brilho e contraste</h2>

            <img src="{{ url_for('static', path='/images/actual.png') }}" width="300" height="400">

            <form action="/action_page.php">
                <label for="fname">Brilho:</label>
                <input type="text" id="fname" name="brilho"><br><br>
                <label for="lname">Contraste:</label>
                <input type="text" id="lname" name="contraste"><br><br>
                <input type="submit" value="Submit">
              </form>

        </center>
    </body>


</html>